<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/listing.css">

<div class="container d-flex justify-content-center flex-column col-8">
    <div class="row card mt-3 pt-3 p-2 d-flex flex-row">
        <p class="fs-3">{{fetchBook.title}}</p>
        <div class="col-sm-4 gx-2">
            <div class="card">
                <img src={{fetchBook.cover}} alt="book-cover-image">
            </div>
        </div>
        <div class="col-sm-8 gx-2">
            <div class="card">
                <div class="card-body d-flex justify-content-center flex-column">
                    <h5 class="card-title fs-4">{{fetchBook.title}}</h5>
                    <span class="fs-6" style="color: rgb(138, 138, 138)">Author<span class="ms-2 fs-6 text-dark">{{fetchBook.author}}</span></span>
                    <span class="fs-" style="color: rgb(138, 138, 138)">Genre<span class="ms-2 text-dark">{{fetchBook.genre}}</span></span>
                    <span class="fs-6 mb-2" style="color: rgb(138, 138, 138)">ISBN<span class="ms-2 text-dark">{{fetchBook.isbn}}</span>
                    <p class="card-text mb-0 mt-2" style="color: rgb(138, 138, 138)">Description<p class="m-0 text-dark">{{fetchBook.description}}</p></p>
                    <p class="card-text mt-0" style="color: rgb(138, 138, 138)"></p>Price <span class="ms-2 text-dark">Rs.{{fetchBook.price}}</span></p>
                    <form>
                        <div class="card-text col-12 d-flex flex-row align-items-center mb-3">
                            <label for="inventory" class="form-label mt-1">Quantity: </label>
                            <input type="number" name="quantity" class="form-control ms-2 w-25" min="1" max="{{fetchBook.inventory}}" value="1">
                        </div>
                        <input type="text" class="d-none" name="bookid" value="{{fetchBook._id}}">
                        <div class="buttons col-12 d-flex flex-row justify-content-center">
                            <button class="btn btn-primary col-6 py-1 ms-3 me-1" formaction="/cart" formmethod="post"><i class="bi fs-5 me-2 bi-bag-plus"></i>Add to Cart</button>
                            <button class="btn btn-primary col-6 py-1 ms-1 me-3" formaction="/checkout/buynow" formmethod="post"><i class="bi fs-5 me-2 bi-bag-check"></i>Buy Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
    <div class="row card mt-2 pt-3 p-2 justify-content-center">
        <p class="fs-4 mx-2">Reviews</p>
        {{#each data.books}}
        <div class="card col-12 my-1">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{this.reviewTitle}}</h5>
                <p class="card-text">{{this.review}}</p>
                <span class="card-text">Rating: {{this.rating}}</span>
                <a href="/user/{{this.reviewer.id}}" class="text-decoration-none"><span class="fs-6">- {{this.reviewer.name}}</span></a>
            </div>
        </div>
        {{/each}}
        {{#if empty}}
        <div class="d-flex justify-content-center px-4">
            <div class="alert alert-warning w-100" role="alert">
                {{empty}}
            </div>
        </div>
        {{/if}}
        <div class="buttons col-12 mt-2 px-0 d-flex flex-row justify-content-center">
            <a href="/listing/{{bookid}}/review" class="btn btn-primary col-3">Leave Review</a>
        </div>
    </div>
</div>